
{% extends '_dashboardlayout.html' %}
{% block body %}
    <div class="budget">
            <h2>Budget History</h2>
        <p>select date</p>
        <form action="/history" method="POST">
            <div class="date-tab">
                <input type="date" name="date" id="date">
                <button>Submit</button>
            </div>
        </form>
        <div class="day-display">
            <p>{{day}} {{month}} {{year}}</p>
            <span>{{ notify }}</span>
        </div>
        <table class="items-history">
            <p>Income</p>
            <thead>
                <tr>
                    <th>Transaction Id</th>
                    <th>Item</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    {% for row in income%}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.4 }}</td>
                        <td><a href="/remove/i{{ row.0 }}">Remove</a></td>
                    </tr>
                    {% endfor%}
            </tbody>
        </table>
        <table class="items-history">
            <p>Expense</p>
            <thead>
                <tr>
                    <th>Trans.Id</th>
                    <th>Item</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    {% for row in expense%}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.4 }}</td>
                        <td><a href="/remove/e{{ row.0 }}">Remove</a></td>
                    </tr>
                    {% endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}