
{% extends '_dashboardlayout.html' %}
{% block body %}
<div class="change-pwd">
    <h2>Change Password</h2>
    <form action="/changepassword" method="POST">
        <div class="alert {{ indicator }}">{{msg}}</div>  
        <div class="pwd-wrapper">
            <div class="fields">
                <input type="password" name="password" required>
                <span>Current password</span>
                <i class="las la-lock"></i>
            </div>
            <div class="fields">
                <input type="password" name="npassword" required>
                <span>New password</span>
                <i class="las la-lock"></i>
            </div>
            <div class="fields">
                <input type="password" name="cpassword" required>
                <span>Confirm New password</span>
                <i class="las la-lock"></i>
            </div>
            <button>Update</button>
        </div>
    </form>
</div>
{% endblock %}