
{% extends '_homedashboard.html' %}
{% block body %}
<div class="dashboard">
    <form action="/check" method="POST">
    <h1>Hello! {{name}}</h1>
    <h6>{{ msg }}{{month}} {{ year }}</h6>
    <input type="month" name="month" id="month" required>    
    <button>Submit</button>
    </form>

    <div class="dashboard-fields">
        <div class="current-income">
            <h2>Total Income    </h2>
            <p >{{ totali}}</p>
        </div>
        <div class="current-expenses">
            <h2>Total Expenses</h2>
            <p>{{ totale }}</p>
        </div>
        <div class="Monthly Limit">
            <h2>Monthly Limit</h2>
            <p>{{ monthlyl}}</p>
        </div>
        <div class="Available Limit">
            <h2>Available Limit</h2>
            <p class="{{ alert }}">{{ availl}}</p>
        </div>
    </div>
    <a href="#myChart"><button class="btn">Click here for Graphical Analytics</button></a>
</div>

{% endblock %}