{% extends '_loginlayout.html' %}
{% block body %}
<div class="login-content">
    <form action="/forgotpassword" method="POST">
        <h3>Forgot Username/password</h3>
        <p class="line"></p>   
        <div class="ale {{ indicator }}">{{msg}}</div>  
        <div class="flo">
            <input type="text" name="username" required autofocus>
            <span>Email</span>
            <i class="las la-user-circle"></i>        
        </div> 
        <button type="submit" name="submit">Submit</button>
    </form>
    <div class="footer">
    <p>Not a member ? <a href="/signup">Sign up Now</a></p>
    </div>
</div>
{% endblock %}
         