<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png"href="{{url_for('static',filename='favicon.png')}}">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Welcome..! | Budget Buddy</title>
</head>
<body>
    <a href="#top">
        <div class="gotop" onclick="scrolltop();">
            <i class="las la-arrow-circle-up"></i>
        </div>
    </a>
    <main>
        <div class="top" id="top">
            <div class="head">
                <div class="home">
                    <a href="/">
                    <img src="{{url_for('static',filename='favicon.png')}}" alt="logo" width="150px" height="150px">
                    <span id="budget">Budget</span>
                    <span id="buddy">Buddy</span>
                    </a>
                </div>
            </div>
            <div class="head-right">
                <a href="/login"><button id="signin">Sign in</button></a>
                <a href="/signup"><button>Get Started</button></a>
            </div>
            <div class="head-left">
                <div class="say" data-aos="fade-up">
                    <span>Get insights on your spending, set goals, limit your expenses and<span> increase your savings. </span></span>
                </div>
                <h3>Get started today. It's free.</h3>
                <a href="#tour"><button>Start a Quick tour</button></a>
            </div>
            <img src="{{url_for('static',filename='home.png')}}" alt="Home">
        </div>    
        <div id="tour" class="tour">
            <div class="container"> 
                <section class="card" data-aos="fade-left">
                    <img src="{{url_for('static',filename='homei.png')}}" alt="home">
                    <div>
                        <h3>Heyy Buddy!</h3>
                        <p>Welcome to our platform <b>Budget Buddy</b> It is a platform/website where user can save data of their current incomes & expenses
                        and keep track of the current financial status in regular intervals with generated stats. We provide user-friendly interface where user can
                        access with an ease. Just <b> scroll down </b> and finish <b> Quick tour </b> about our platform.
                    </p> 
                    </div>
                </section>
                <section class="card" data-aos="fade-right">
                    <img src="{{url_for('static',filename='signupi.png')}}" alt="signup">
                    <div>
                        <h3>Signup</h3>
                        <p>Click <b>Get Started</b> button (at top-right of homepage) you will be redirected to Signup page where you need to register for an 
                        <b>Budget Buddy</b> account. <p> Username must be unique and it will give an alert if you're using emailid which is already existing etc..
                        if all the fields enterd are valid. you will get Congratulations! text within same page.</p></p>
                    </div>
                </section>
                <section class="card" data-aos="fade-left">
                    <img src="{{url_for('static',filename='logini.png')}}" alt="login">
                    <div>
                        <h3>Login</h3>
                        <p>After Successfully...! registering your account Click on <b>Sign in</b> you will be redirected to login page. Enter your <b> Username </b> and <b>Password</b>
                        click Login.you will be landing in your personal Dashboard consisting of your recent financial stats.
                        <p>
                        <b>Note:</b> If you forget Username or Password Click on <b>Forgot Username/Password</b>. Enter your Email id and submit, credentials will be sent to your mail.  
                         </p>
                    </p>
                    </div>
                </section>
                <section class="card" data-aos="fade-right">
                    <img src="{{url_for('static',filename='dashboard.png')}}" alt="dashboard">
                    <div>
                        <h3>Dashboard</h3>
                        <p>Your personal Dashboard is ready. If you are new to our platform, Dashboard values are set to '0'
                        <p>Basically, dashboard is to show your <b> recent month stats.</b></p>
                        </p>
                    </div>
                </section>
                <section class="card" data-aos="fade-left">
                    <img src="{{url_for('static',filename='monthlylimit.png')}}" alt="monthlylimit">
                    <div>
                        <h3>Set monthly limit</h3>
                        <p>First, you need to <b> set monthly limit </b> to record your daily transactions. Select month & Enter value, Click submit.You cannot overwrite monthlylimit.
                            <p>
                            <b>Note: </b> If you want to update monthly limit click on <b>Click here to Update limit</b>
                            </p>
                        </p>
                     </p>
                    </div>
                </section>
                <section class="card" data-aos="fade-right">
                    <img src="{{url_for('static',filename='addbudget.png')}}" alt="addbudget">
                    <div>
                        <h3>Add Budget</h3>
                        <p>
                            Select date, Choose '+' if it's income and '-' if it's an expense, Add Description of the transaction, Enter the value, Click on Add
                            All the <b>Income</b>,<b> Expense</b> related transactions of that particular date will be displayed. 
                            <p><b>Note: </b> You must set limit for particular month before adding the budget.</p>
                        </p>
                    </div>
                </section>
                <section class="card" data-aos="fade-left">
                    <img src="{{url_for('static',filename='budgethistory.png')}}" alt="budgethistory">
                    <div>
                        <h3>Budget History</h3>
                        <p>The transactions history of any specific date will be accessed using <b>Manage Budget</b>
                            <p>Select date and click on submit, All transactions of that particular date will be displayed</p>
                            <p><b>Note: </b>Click remove on particular transaction to delete that transaction data  </p>
                        </p>
                    </div>
                </section>
                <section class="card" data-aos="fade-right">
                    <img src="{{url_for('static',filename='changepwd.png')}}" alt="Changepassword">
                    <div>
                        <h3>Change password</h3>
                        <p>It's <b> Optional.</b> To change your account password
                        <p> Enter your Current password, Enter your New password twice for confirmation</p>
                    </p>
                    </div>
                </section>
                <section class="card" data-aos="fade-left">
                    <img src="{{url_for('static',filename='homei.png')}}" alt="Home">
                    <div>
                        <h3>Logout</h3>
                        <p> <b>Finally..!</b> after all, you need to <b>Logout</b> account
                        <p><b>Note: </b>If you fail to logout, you will be automatically loggedout when you close your browser</p>
                        <p>So Why late..? <b> become a member </b> by creating an account.</p>
                        </p>

                    </div>
                </section>
            </div>
            </div>
        </div>
        </main>
        <footer>
            <div class="foot-left">

            </div>
            <div class="line"></div>
            <div class="foot-right">
                <h3>The <span>Art</span> is not in making money, But in <span>Managing</span> it.</h3>
            </div>
            <p>&copy; 2021 Budget Buddy, an Expense Tracker. All rights reserved.</p>
        </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript">
        AOS.init({
            offset:400,
            duration:1000
        });
        window.addEventListener('scroll',function(){
            var scroll = document.querySelector('.gotop');
            scroll.classList.toggle("active", window.scrollY > 100)
        })
    </script>
</body>
</html>