
{% extends '_loginlayout.html' %}
{% block body %}
<div class="login-content">
    <form action="/loginauth" method="POST">
        <h3>Login</h3>
        <p class="line"></p>
        <div class="alert {{ indicator }}">{{msg}}</div>  
        <div class="float">
        <input type="text" name="username" required autofocus>
        <span>Username</span>
        <i class="las la-user-circle"></i>        
        </div>
        <div class="float">
        <input type="password" name="password" required>
        <span>Password</span>
        <i class="las la-lock"></i>
        </div>
        <a href="/forgot">Forgot Username/Password ?</a> 
        <button type="submit" name="submit">Login</button>
    </form>
        <div class="footer">
        <p>Not a member ? <a href="/signup">Sign up Now</a></p>
        </div>
</div>
{% endblock %}
