<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='favicon.png')}}">
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">        <title>Dashboard | Budget Buddy</title>
</head>
<body>
    <input type="checkbox" name="" id="side-toggle">
    <div class="sidebar">
        <div class="sidebar-main">
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="/home">
                            <span class="las la-server"></span>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/monthlylimit">
                            <span class="las la-bell"></span>
                            Set Monthly Limit
                        </a>
                    </li>
                    <li>
                        <a href="/budget">
                            <span class="las la-wallet"></span>
                            Add Budget
                        </a>
                    </li>
                    <li>
                        <a href="/mbudget   ">
                            <span class="las la-tasks"></span>
                            Manage Budget
                        </a>
                    </li>
                    <li>
                        <a href="/changepwd">
                            <span class="las la-copy"></span>
                            Change Password
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="las la-sign-out-alt"></span>
                            Logout
                        </a>
                    </li>
                </ul>
                <span id="copy">&copy; 2021 | Budget Buddy</span>
            </div>
        </div>
    </div>
    <div class="main-content">
        <header>
            <div class="menu-toggle">
                <label for="side-toggle">
                <span class="las la-bars"></span>
                </label>
            </div>
            <div class="names">
                <span class="las la-user" style="font-size:20px; font-weight: bold;"></span>
                <span style="font-weight: bold; font-size: 20px;">{{ username }}</span>
                <div>{{ email }}</div>
            </div>
        </header>
        <main>
            <div class="wrapper"></div>
                <form action="/setlimit" method="POST">
                    <div class="limit"style="display: {{ display }};">
                        <div class="alert {{ indicator }}">{{msg}}</div>  
                        <h2> Monthly Limit</h2>
                        <input type="month" name="month" id="month" required>    
                        <input type="text" placeholder="ex 5000" name="limit" required>
                        <div><a href="/updatelimit">Click here to Update limit</a></div>
                        <button>Submit</button>
                    </div>
                </form>
                <form action="/setupdatelimit" method="POST">
                    <div class="updatelimit"style="display: {{ udisplay }};">
                        <div class="alert {{ indicator }}">{{msg}}</div>  
                        <h2> Update Monthly Limit</h2>
                        <input type="month" name="month" id="month" required>    
                        <input type="text" placeholder="ex 5000" name="limit" required>
                        <button>Update</button>
                    </div>
                </form>   

                <div class="budget"style="display: {{ bdisplay }};">
                        <h2>Budget History</h2>
                    <p>select date</p>
                    <form action="/history" method="POST">
                        <div class="date-tab">
                            <input type="date" name="date" id="date">
                            <button>Submit</button>
                        </div>
                    </form>
                    <div class="day-display">
                        <p>{{day}} {{month}} {{year}}</p>
                        <span>{{ notify }}</span>
                    </div>
                    <table class="items-history">
                        <p>Income</p>
                        <thead>
                            <tr>
                                <th>Transaction Id</th>
                                <th>Item</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for row in income%}
                                <tr>
                                    <td>{{ row.0 }}</td>
                                    <td>{{ row.3 }}</td>
                                    <td>{{ row.4 }}</td>
                                    <td><a href="/remove/i{{ row.0 }}">Remove</a></td>
                                </tr>
                                {% endfor%}
                        </tbody>
                    </table>
                    <table class="items-history">
                        <p>Expense</p>
                        <thead>
                            <tr>
                                <th>Trans.Id</th>
                                <th>Item</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for row in expense%}
                                <tr>
                                    <td>{{ row.0 }}</td>
                                    <td>{{ row.3 }}</td>
                                    <td>{{ row.4 }}</td>
                                    <td><a href="/remove/e{{ row.0 }}">Remove</a></td>
                                </tr>
                                {% endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="change-pwd"style="display: {{ cdisplay }};">
                    <h2>Change Password</h2>
                    <form action="/changepassword" method="POST">
                        <div class="alert {{ indicator }}">{{msg}}</div>  
                        <div class="pwd-wrapper">
                            <div class="fields">
                                <input type="password" name="password" required>
                                <span>Current password</span>
                                <i class="las la-lock"></i>
                            </div>
                            <div class="fields">
                                <input type="password" name="npassword" required>
                                <span>New password</span>
                                <i class="las la-lock"></i>
                            </div>
                            <div class="fields">
                                <input type="password" name="cpassword" required>
                                <span>Confirm New password</span>
                                <i class="las la-lock"></i>
                            </div>
                            <button>Update</button>
                        </div>
                    </form>
                </div>
                <div class="add-budget"style="display: {{ adisplay }};">
                    <div class="top">
                        {{msg}}
                        <div class="top-contents">
                            <span>Available Budget in {{day}} {{month}} {{year}} :</span>
                            <span style="font-size: 48px; color: red; font-weight: bold;">{{ notice }}</span>    
                            <span class="finalvalue">{{ finalamount}}</span>
                            <div class="income">
                                <span>income</span>
                                <span id="right"> {{ fincome }}</span>
                            </div>
                            <div class="expense">
                                <span>Expense</span>
                                <span id="right">{{ fexpense }}</span>
                            </div>
                        </div>
                    </div>
                    <form action="/addbudget" method="POST">
                        <div class="budget-tab">
                            <input type="date" name="date" id="">
                            <select name="select" id="">
                                <option value="+">+</option>
                                <option value="-">-</option>
                            </select>
                            <input type="text" name="description" id=""placeholder="Add description">
                            <input type="tel" name="value" id="" placeholder="Value">
                            <button>Add</button>
                        </div>
                    </form>
                    <div class="display">
                        <div class="display-income">
                            <div class="incomec">Income</div>
                            {% for value in incomes %}
                            <label for="value">{{ value.3 }}
                                <span id="right" class="incomec">
                                    {{ value.4 }}
                                </span>
                            </label>                            
                            {% endfor %}
                        </div>
                        <div class="display-expense">
                            <div class="expensec">Expenses</div>
                            {% for value in expenses %}
                            <label for="value">{{value.3}}
                                <span id="right" class="expensec">
                                    {{value.4}}
                                </span>
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="dashboard"style="display: {{ ddisplay }};">
                    <h1>Hello! {{name}}</h1>
                    <h6>{{ msg }}{{month}} {{ year }}</h6>
                    <div class="dashboard-fields">
                        <div class="current-income">
                            <h2>Total Income    </h2>
                            <p >{{ totali}}</p>
                        </div>
                        <div class="current-expenses">
                            <h2>Total Expenses</h2>
                            <p>{{ totale }}</p>
                        </div>
                        <div class="Monthly Limit">
                            <h2>Monthly Limit</h2>
                            <p>{{ monthlyl}}</p>
                        </div>
                        <div class="Available Limit">
                            <h2>Available Limit</h2>
                            <p class="incomec">{{ availl}}</p>
                        </div>
    
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>